/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clear{
    overflow: hidden;
}
.template
{
    margin: 0 auto;
}
.headsection {
  background: rgba(0, 0, 0, 0) url("../img/banner.png") no-repeat scroll center bottom;
  height: 840px;
  padding: 30px;
}
.logo{}
.logo a{}
.logo img{}
.menu {
  float: right;
  display: inline-block;
}
.menu ul {
  display: block;
  list-style: outside none none;
}
.menu li {
  float: left;
  margin: -23px 22px 0 0;
}
.menu a {
  color: #fff;
  font-family: calibri;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.menu a:hover{
    color: #ed145b;
    transition: all 0.5s;
}
.headsection h1 {
  color: #fff;
  font-family: Century Gothic;
  font-size: 46px;
  margin: 0 auto;
  padding: 200px 0 8px 267px;
  text-transform: uppercase;
}
.headsection span {
  font-weight: bold;
}
.line{
    width: 200px;
    height: 2px;
    display: block;
    margin: 30px auto;
    background: #ed145b;
}
.headsection p {
  color: #fff;
  font-family: Century Gothic;
  font-size: 18px;
  line-height: 38px;
  margin: 0 28px 0 57px;
  padding-bottom: 55px;
  text-align: center;
}
.headsection h6 {
  background: #ed145b none repeat scroll 0 0;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-left: 485px;
  text-align: center;
  width: 200px;
}
.headsection h6:hover{
    background: #fff;
    color: #ed145b;
    transition: all 0.4s;
}
#video {
  background-color: #f4f4f4;
  padding: 95px 50px;
  min-height: 650px;
}
#video h2 {
  color: #5a5a5a;
  font-family: Century Gothic;
  font-size: 34px;
  font-style: italic;
}
#video p {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 40px;
  margin-top: 45px;
}
#video h6 {
  color: #ed145b;
  float: left;
  font-family: Century Gothic;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#video img {
  margin: 4px 0 0 14px;
}
#video .laptop {
  height: 360px;
  margin-left: -22px;
  margin-top: 30px;
  width: 625px;
}
#service {
  padding: 120px 0 100px;
  text-align: center;
  min-height: 690px;
}
#service h3 {
  color: #5a5a5a;
  font-family: Century Gothic;
  font-size: 38px;
  font-style: italic;
}
#service p {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 25px;
}
#service img {
  margin: 85px 0 0 32px;
}
#service h6 {
  color: #ed145b;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 37px;
  margin-top: 27px;
  text-transform: uppercase;
}
#quote {
  background: rgba(0, 0, 0, 0) url("../img/testimonialsbanner.jpg") no-repeat scroll center center / cover ;
  min-height: 490px;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}
#quote img{}
#quote p {
  color: #fff;
  font-size: 25px;
  font-family: Century Gothic;
  margin: 46px 0;
}

#price {
  background: #f4f4f4 none repeat scroll 0 0;
  padding: 120px 0 100px;
  text-align: center;
}
#price h1 {
  color: #5a5a5a;
  font-family: century gothic;
  font-size: 38px;
}
#price p {
  color: #5a5a5a;
  font-family: century gothic;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 62px;
}


.head_section {
    padding: 30px 0 55px;
    background: #5a5a5a;
    color: #fff;
}
#price article .head_section h2 {
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    line-height: 38px;
    margin-bottom: 0;
}
#price article .head_section h2 span {
    font-size: 20px;
    font-weight: 700;
}
#price article .head_section h5 {
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 0;
}
#price article {
    background: #fff;
    padding-bottom: 35px;
}
#price article h4 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: #f4f4f4;
    display: block;
    color: #5a5a5a;
    margin: -30px auto 35px;
    font-weight: 700;
}
#price article h5 {
    padding-bottom: 10px;
    color: #5a5a5a;
    font-family: century gothic;
}
#price article a {
    text-decoration: none;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: #ed145b;
    display: block;
    color: #fff;
    margin: 20px auto 0px;
    font-weight: 700;
}
#price article a:hover {
    background: #5a5a5a;
    color: #fff;
    transition: all 0.4s;
}
#price article:hover .head_section {
    background: #ed145b;
}

#working {
  padding: 140px 0 50px;
}
#working img {
  margin-left: 50px;
}
#working h4 {
  color: #ed145b;
  font-size: 14px;
  margin-left: 36px;
  width: 170px;
}
#working p {
  color: #5a5a5a;
  font-family: century gothic;
  line-height: 33px;
  margin-left: 35px;
  width: 262px;
  margin-bottom: 67px;
}

.join {
  background-color: #ed145b;
  height: 200px;
}
.join h1 {
  color: #fff;
  float: left;
  font-family: century gothic;
  font-size: 38px;
  margin-left: 58px;
  margin-top: 75px;
}
.join span {
  font-weight: bold;
}
.join p {
  background-color: #fff;
  border-radius: 50px;
  color: #ed145b;
  float: right;
  font-weight: 700;
  line-height: 45px;
  margin-right: 130px;
  margin-top: 78px;
  padding: 0 59px;
  text-transform: uppercase;
}
.join p:hover{
    background-color: #5a5a5a;
    color: #fff;
    transition: all 0.4s;

}

#updates {
    padding: 140px 0 60px;
    text-align: center;
}
#updates p {
  color: #5a5a5a;
  margin-bottom: 64px;
}
#updates article {
    text-align: left;
    background: #f4f4f4;
    margin-bottom: 60px;
}
#updates article .content {
    padding: 15px;
}
#updates article .content h4 {
    font-weight: 400;
    color: #5a5a5a;
    font-family: century gothic;
}
#updates article .content p {
    
    color: #5a5a5a;
    font-family: century gothic;
}
.image {
    position: relative;
}
.image img {
    width: 100%;
    display: block;
    max-width: 100%;
}
.hovers {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    background: rgba(237,20,91,0.85);
    color: #fff;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding-top: 110px;
    transition: all 0.5s;
    cursor: pointer;/*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}
.image:hover .hovers {
    visibility: visible;
    opacity: 1;
}
.hovers img {
    width: auto;
    margin: 0 auto;
}
#updates h5{
    color: #ed145b;
    text-transform: uppercase;
    font-size: 16px;
}
#mache {
  background: rgba(0, 0, 0, 0) url("../img/banner.png") no-repeat scroll center bottom;
  min-height: 838px;
}
#mache h1 {
  color: #fff;
  font-family: century gothic;
  font-style: italic;
  margin-top: 150px;
  text-align: center;
}
#mache p {
  color: #fff;
  font-family: century gothic;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
  margin-top: 44px;
}
#mache h5 {
  background-color: #ed145b;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 45px;
  margin-left: 530px;
  padding: 0 51px;
  text-align: center;
  text-transform: uppercase;
}
#mache h5:hover{
    color: #ed145b;
    background-color: #fff;
    transition: all 0.5s;
}
#download {
  background: #f4f4f4 none repeat scroll 0 0;
  padding: 135px 0 160px;
  position: relative;
}
#download img {
  height: 390px;
}
#download h2 {
  color: #5a5a5a;
  font-style: italic;
  font-family: century gothic;
  font-size: 35px;
}
#download p {
  color: #5a5a5a;
  line-height: 30px;
  font-family: century gothic;
  margin: 45px 0;
}
#download h6 {
  background: #ed145b none repeat scroll 0 0;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  padding: 0 44px;
  text-transform: uppercase;
  font-weight: bold;
}
#download h6:hover{
    color: fff;
    background-color: #5a5a5a;
}

#footsection {
  background-color: #2b2b2b;
  min-height: 170px;
}
.leftfoot {
  float: left;
}
.leftfoot p {
  color: #fff;
  margin: 74px 0 0 53px;
  font-family: century gothic;
}
.rightfoot{
    float: right;
}
.rightfoot p {
  color: #fff;
  font-family: century gothic;
  margin: 74px 53px 0 0;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
